.main
  .main__contents
    .search
      = form_tag search_items_path, :method => 'get', class: "search-input" do
        = text_field_tag :search
        -# , params[:search]
        = submit_tag "Search", :gender => nil, :clothes => nil, :color => nil, :brand => nil, :text => nil



    .outfits__ranking
      .outfits__ranking__top
        .outfits__ranking__top__icon
          = icon("fas", "crown")
        .outfits__ranking__top__text
          人気のコーディネート
      .outfits__ranking__details
        - @outfits_ranking.each do |outfit|
          .outfits__ranking__details__image
            = link_to (image_tag outfit.image.url), outfit_path(outfit.id)
            .outfits__ranking__details__bottom
              .outfits__ranking__details__bottom__user-name
                = link_to outfit.user.name, user_path(outfit.user)
              .outfits__ranking__details__bottom__right
                .outfits__ranking__details__bottom__right__icon
                  = icon("far", "heart")
                .outfits__ranking__details__bottom__right__count
                  = outfit.likes.count
                  //ボタン追加予定
              
        
    -# .item__ranking
    -#   .item__ranking__top
    -#     .item__ranking__top__icon
    -#       = icon("fas", "crown")
    -#     .item__ranking__top__text
    -#       人気のアイテム
    -#   .item__ranking__details
    -#     .item__ranking__details__image
    -#       = image_tag src="/assets/item1.jpg", width: "220"
    -#       .item__ranking__details__image__bottom
    -#         .item-brand
    -#           snidel
    -#           .bottom-text
    -#             .item-name
    -#               トレンチコート
    -#             .item-likes
    -#               .item-likes__icon
    -#                 = icon("far", "heart")
    -#               .item-likes__count
    -#                 100
    -#     .item__ranking__details__image
    -#       = image_tag src="/assets/item2.jpg", width: "220"
    -#       .item__ranking__details__image__bottom
    -#         .item-brand
    -#           snidel
    -#           .bottom-text
    -#             .item-name
    -#               トレンチコート
    -#             .item-likes
    -#               .item-likes__icon
    -#                 = icon("far", "heart")
    -#               .item-likes__count
    -#               100
    -#     .item__ranking__details__image
    -#       = image_tag src="/assets/item3.jpg", width: "220"
    -#       .item__ranking__details__image__bottom
    -#         .item-brand
    -#           snidel
    -#           .bottom-text
    -#             .item-name
    -#               トレンチコート
    -#             .item-likes
    -#               .item-likes__icon
    -#                 = icon("far", "heart")
    -#               .item-likes__count
                    -# 100

    .user__ranking
      .user__ranking__top
        .user__ranking__top__icon
          = icon("fas", "crown")
        .user__ranking__top__text
          人気のユーザー
      .user__ranking__details
        .user__ranking__details__image
          =image_tag src="/assets/user1.jpg", width: "220", height:"220", class:"img"
          .user__ranking__details__image__bottom
            .popular-user-name
              chihiro
            .popular-user-likes
              .popular-user-likes__icon
                = icon("far", "heart")
              .popular-user-likes__count
                100
              
        .user__ranking__details__image
          =image_tag src="/assets/user2.jpg", width: "220", height:"220", class:"img"
          .user__ranking__details__image__bottom
            .popular-user-name
              kannna
            .popular-user-likes
              .popular-user-likes__icon
                = icon("far", "heart")
              .popular-user-likes__count
                100
        .user__ranking__details__image
          =image_tag src="/assets/user3.jpg", width: "220", height:"220",class:"img"
          .user__ranking__details__image__bottom
            .popular-user-name
              mai
            .popular-user-likes
              .popular-user-likes__icon
                = icon("far", "heart")
              .popular-user-likes__count
                100


    .new__outfits
      .new__outfits__top
        .new__outfits__top__image
          = icon("fas", "crown")
        .new__outfits__top__text
          新着コーディネート
      %ul.new__outfits__contents
        - @outfits.each do |outfit|
          %li.content
            = link_to (image_tag outfit.image.url), outfit_path(outfit.id)
            .content__text
              .content__text__user-name
                = link_to outfit.user.name, user_path(outfit.user)
              .content__text__outfits-likes
                .content__text__outfits-likes__icon
                  = icon("far", "heart")
                .content__text__outfits-likes__count
                  -# = @outfit.likes.count
                  100

    -# .search
    -#   .search__top
    -#     .search__top__icon
    -#       =icon("fas", "search")
    -#     .search__top__text
    -#       アイテムを探す
    -#   .search__contents
    -#     .search__contents__top
    -#       .search__contents__top__category
    -#       .search__contents__top__brand
    -#     .search__contents__bottom
    -#       .search__contents__bottom__color
    -#       .search__contents__bottom__size
