.outfits-details
  .outfits-details__content
    .outfits-details__content__left
      .outfits-details__content__left__image
        = image_tag @outfit.image.url
      .outfits-details__content__left__text
        = @outfit.text
      .outfits-details__content__left__date
        = @outfit.created_at
      .outfits-details__content__left__likes
      .outfits-details__content__left__likes__count
        = @outfit.likes.count
        - if current_user.already_liked?(@outfit)
          = button_to 'いいねを取り消す', outfit_like_path(@outfit), method: :delete
        - else
          = button_to 'いいね', outfit_likes_path(@outfit)


    .outfits-details__content__right
      - @outfit.item_outfits.each do |item_outfit|
        .outfits-details__content__right__items
          .outfits-details__content__right__items__item
            = image_tag item_outfit.item.image.url
          .outfits-details__content__right__items__text
            .outfits-details__content__right__items__text__brand
              = item_outfit.item.brand
            .outfits-details__content__right__items__text__name
              = item_outfit.item.text

    .outfits-details__content__bottom
      = link_to "削除する", outfit_path(@outfit.id), method: :delete

      