.my-page

  .user__details
    .user__details__image
      = image_tag @user.image.url, class: "my-page-image"
    .user__details__profiles
      .user__details__profiles__top
        .user__details__profiles__top__name
          = @user.name
        - if user_signed_in? && current_user.id ==  @user.id
          .user__details__profiles__top__edit
            .user__details__profiles__top__edit__icon
              = icon("fas", "cog")
            .user__details__profiles__top__edit__text
              = link_to "プロフィールを編集する", edit_user_path, class: "edit-btn"
      .user__details__profiles__middle
        .user__details__profiles__middle__outfits-count
          .user__details__profiles__middle__outfits-count__left
            投稿
          .user__details__profiles__middle__outfits-count__right
            .user__details__profiles__middle__outfits-count__right__number
              = @outfits_count
            .user__details__profiles__middle__outfits-count__right__text
              件
        .user__details__profiles__middle__item-count
          .user__details__profiles__middle__item-count__left
            アイテム
          .user__details__profiles__middle__item-count__right
            .user__details__profiles__middle__item-count__right__number
              = @items_count
            .user__details__profiles__middle__item-count__right__text
              件
      .user__details__profiles__bottom
        .user__details__profiles__bottom__text
          = @user.text

  .user__items 
    .user__items__text
      最近追加したアイテム
    .user__items__content
      - @items.each do |item|
        .user__items__content__details
          = link_to (image_tag item.image.url), item_path(item.id)
          .user__items__content__details__text
            .user__items__content__details__text__brand
              = item.brand
            .user__items__content__details__text__name
              = item.text

    .user__items__bottom
      = link_to "もっと見る", closet_item_path(@user), class: "user__items__bottom__text"

  .user__outfits
    .user__outfits__text
      コーディネート
    %ul.user__outfits__content
      - @outfits.each do |outfit|
        %li.user__outfits__content__detail
          .user__outfits__content__detail__image
            = link_to (image_tag outfit.image.url), outfit_path(outfit.id), class: "mypage-outfits"
          .user__outfits__content__detail__bottom
            .user__outfits__content__detail__bottom__date
              = outfit.created_at.strftime('%Y/%m/%d')
            .user__outfits__content__detail__bottom__likes
              .user__outfits__content__detail__bottom__likes__icon
                = icon("far", "heart")
              .user__outfits__content__detail__bottom__likes__count
                = outfit.likes.count

