.my-page

  .user__details
    .user__details__image
      = image_tag current_user.image.url, class: "my-page-image"
      -# = image_tag src="/assets/image1.jpg", width:"400"
    .user__details__profiles
      .user__details__profiles__top
        .user__details__profiles__top__name
          =current_user.name
        .user__details__profiles__top__edit
          .user__details__profiles__top__edit__icon
            = icon("fas", "cog")
          .user__details__profiles__top__edit__text
            = link_to "プロフィールを編集する", edit_user_path, class: "edit-btn"
      .user__details__profiles__middle
        .user__details__profiles__middle__outfits-count
          投稿 20件
        .user__details__profiles__middle__item-count
          アイテム 20件
      .user__details__profiles__bottom
        .user__details__profiles__bottom__text
          = current_user.text

  .user__items 
    .user__items__text
      最近追加したアイテム
    .user__items__content
      - @items.each do |item|
        .user__items__content__details
          = image_tag item.image.url
          .user__items__content__details__text
            .user__items__content__details__text__brand
              MERCURYDUO
            .user__items__content__details__text__name
              = item.text

    .user__items__bottom
      = link_to "もっと見る", closet_item_path(@user), class: "user__items__bottom__text"

  .user__outfits
    .user__outfits__text
      コーディネート
    .user__outfits__content
      - @outfits.each do |outfit|
        = image_tag outfit.image.url, class: "mypage-outfits"


