!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyCloset
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header 
      .title
        = link_to root_path, class: "title" do
          mycloset
      .title__right
        .sign-up-btn
          = link_to "新規登録", new_user_registration_path, class: "header-btn"
        .login-btn
          = link_to "ログイン", new_user_session_path, class: "header-btn"
        .logout-btn
          = link_to "ログアウト", destroy_user_session_path, class: "header-btn"
        -# .my-page-btn
        -#   = link_to "マイページ", user_path(current_user), class: "header-btn"


    = yield